
.artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .artist {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid rgb(255, 255, 255);
  }
  
.signUpForm {
    display: flex;
    flex-wrap: wrap;
    
}

.signUpForm__title {
    width: 100%;
}

fieldset {
    text-align: center;
    width: 100%;
    border: none;
}

h1 {
    flex-wrap: wrap;
    text-align: center;
}