.ToggleTrue {
    background-color: rgb(46, 189, 27);
}



.ToggleFalse {
    background-color: white;
}

h1 {
    text-align: center;
}

.displayArtist {
    display: flex;
    text-align: center;
    font-size: 30px;
    justify-content: center;
}

.artists {
    display: flex;
}

.artist {
    flex-direction: row;
}

.btn {
    margin: 5px;
    font-family: Verdana, sans-serif;
    font-weight: 100;
}

.artist-like {
    filter: brightness(0) invert(1);
    size: 10px;
}


